div#SITE_HEADER > div:first-child > div > div {
    border: 0 none;
}
div#SITE_HEADER div[data-testid="richTextElement"] {
    margin: 0;
    --min-height: 80px;
}
div#SITE_HEADER div[data-testid="richTextElement"] p {
    height: 20px;
    width: 140px;
}
div#SITE_HEADER div[data-testid="richTextElement"] p span > span > span > span > span {
    font-size: 18px;
}
div#SITE_HEADER > div:last-child > div > div > div > div:last-child {
    display: none;
}
#imageZoomComp > div {
    margin: 0!important;
    max-height: 100vh!important;
    padding: 0!important;
}
#imageZoomComp > div wow-image img {
    margin: 0!important;
    max-width: 100%!important;
    max-height: 100vh!important;
    --width: auto;
    --height: auto;
    padding: 0!important;
    width: 100vw!important;
    height: 100vh!important;
}
